{% extends 'baseB.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block gestion %}
    <h1>Create new Formation</h1>

    {{ include('formationBack/_form.html.twig') }}

    <a href="{{ path('app_formation_index_back') }}">back to list</a>
{% endblock %}
