<form method="post" action="{{ path('app_partnership_delete', {'idp': partnership.idp}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partnership.idp) }}">
    <button class="btn">Delete</button>
</form>
