{% extends 'baseBack.html.twig' %}

{% block gestion %}
      <link rel="stylesheet" href="{{ asset('back/css/styles.css') }}">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Créer un nouvel utilisateur</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{{ path('app_utilisateur_new') }}">
                            {{ include('back/utilisateur/_form.html.twig') }}

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary">Annuler</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
