{% extends 'baseBack.html.twig' %}

{% block gestion %}
    {% block body %}
        <link rel="stylesheet" href="{{ asset('back/css/styles.css') }}">
        <h1>Statistiques sur les rôles d'utilisateurs</h1>
        <div id="piechart" style="width: 100%; height: 400px;"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var jsonData = {{ chartData|raw }};
                var data = google.visualization.arrayToDataTable(jsonData);

                var options = {
                    title: 'Statistiques sur les rôles',
                    is3D: true,
                    backgroundColor: 'transparent', 
                    legend: { position: 'right' }, 
                    pieSliceText: 'label'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
        </script>
    {% endblock %}
{% endblock %}
