<form method="post" action="{{ path('app_cours_delete', {'idcours': cour.idcours}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cour.idcours) }}">
    <button class="btn">Delete</button>
</form>
