{% extends 'base.html.twig' %}
{% block gestion %}


{% block body %}
    <h1>Faire une donation</h1>

<div class="form-container">
        {{ include('givedonation/_form.html.twig') }}
    </div>

{% endblock %}
{% endblock %}
